body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1e90ff, #00ced1);
    color: #fff;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.countdown-element {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
    width: 80px;
    text-align: center;
    margin: 5px;
}

.countdown-element span {
    display: block;
    font-size: 2em;
    margin-bottom: 5px;
}

.label {
    font-size: 0.8em;
    font-weight: bold;
}

@media (min-width: 600px) {
    .countdown-element {
        padding: 20px;
        width: 100px;
    }

    .countdown-element span {
        font-size: 2.5em;
    }

    .label {
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 2.5em;
    }

    .countdown-element {
        padding: 25px;
        width: 120px;
    }

    .countdown-element span {
        font-size: 3em;
    }

    .label {
        font-size: 1.2em;
    }
  }
